.all-average-scores {
    margin-bottom: 20px;
    padding: 10px 10px 20px 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #e4e4e4;
}

.all-average-scores h3 {
    text-align: center;
}

.restaurant-details {
    margin-bottom: 20px;
    text-align: center;
}

.restaurant-details ul {
    list-style-type: none;
    padding: 0;
    font-size: small;
  }

li {
    display: inline;
    margin-right: 5px;
    text-decoration: none;
    list-style: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.restaurant-scoring {
    width: 220px;
    display: inline-block;
}

.category-name {
    display: inline-block;
    width: 150x;
}

.category-score {
    display: inline-block;
    width: 50px;
}

.total {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
    margin-top: 10px;
    margin-left: 20px;
    background-color: rgb(127, 255, 212);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 10px #ffd1dc;
}

.total-label {
    order: 1;
}

.total-score {
    order: 2;
    font-size: 1.5em;
}